<?xml version="1.0" encoding="UTF-8"?>
<phpunit
	bootstrap="bootstrap.php"
	colors="true"

	convertErrorsToExceptions="true"
	convertNoticesToExceptions="true"
	convertWarningsToExceptions="true"
	
	stopOnError="false"
	stopOnFailure="false"
	stopOnIncomplete="false"
	stopOnSkipped="false"
	stopOnRisky="false"

	processIsolation="false"
	strict="false"
	verbose="false"
	>

    <testsuites>
        <testsuite name="Noop tests">
        	<directory suffix="Test.php">Noop</directory>
        </testsuite>
        <!--<testsuite name="App tests">
        	<directory suffix="Test.php">App</directory>
        </testsuite>-->
    </testsuites>

</phpunit>